POSTGRES_DB=vn_biodiversity
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:change_me@db:5432/vn_biodiversity?schema=public
AUTH_TOKEN_SECRET=change_me
FRONTEND_ORIGIN=http://localhost:4200

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me
ADMIN_DISPLAY_NAME=System Admin

API_PORT=3000
UI_PORT=4200
NG_APP_API_URL=/api
