.env.docker
.env
postgres_data/
docker-package/
*.tar
*.sql
*.sql.gz
!scripts/*.sql
!vn-biodiversity-webgis-API/prisma/migrations/**/*.sql
vn-biodiversity-webgis-DB/docker-init/*
!vn-biodiversity-webgis-DB/docker-init/.gitkeep
